[Unit]
RequiresMountsFor=%t/containers

# BindsTo=spl-net.service
# After=spl-net.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
KillMode=mixed
ExecStop=/usr/bin/podman rm -v -f -i spl-stubby
ExecStopPost=-/usr/bin/podman rm -v -f -i spl-stubby
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/bin/podman run --name spl-stubby --pull=never --replace --rm --cgroups=split --entrypoint /usr/bin/stubby --init --sdnotify=conmon --detach --pod spl-net splicer-pod-stubby:latest

[Install]
WantedBy=default.target
