:root {
--solar00: #002b36;
--solar12: #073642;
--solar24: #455c64;
--solar36: #586e75;
--solar48: #657b83;
--solar60: #c5c1af;
--solar72: #dbd6c3;
--solar84: #eee8d5;
--solar96: #fdf6e3;

--solar-red00: #864f49;
--solar-red24: #b92e2a;
--solar-red48: #dc322f;
--solar-red72: #f27267;
--solar-red96: #ead1cd;

--solar-cyan00: #1f6e68;
--solar-cyan24: #000000;
--solar-cyan48: #2aa198;
--solar-cyan72: #6ebfb7;
--solar-cyan96: #c3dedb;

}
