:root {
--solar00: #002b36;
--solar12: #073642;
--solar24: #455c64;
--solar36: #586e75;
--solar48: #657b83;
--solar60: #c5c1af;
--solar72: #dbd6c3;
--solar84: #eee8d5;
--solar96: #fdf6e3;

--solar-red00: #4e3e3c;
--solar-red24: #a42d29;
--solar-red48: #dc322f;
--solar-red72: #f9655a;
--solar-red96: #f6a69c;

--solar-cyan00: #354644;
--solar-cyan24: #297973;
--solar-cyan48: #2aa198;
--solar-cyan72: #4fbdb4;
--solar-cyan96: #6dd2c8;

}
