:root {
--solar00: #073642;
--solar12: #3e5e67;
--solar24: #586e75;
--solar36: #657b83;
--solar48: #839496;
--solar60: #d1ccba;
--solar72: #dfdac7;
--solar84: #eee8d5;
--solar96: #fdf6e3;

--solar-colors00: #b58900;
--solar-colors14: #cb4b16;
--solar-colors28: #dc322f;
--solar-colors42: #d33682;
--solar-colors56: #6c71c4;
--solar-colors70: #268bd2;
--solar-colors84: #2aa198;
--solar-colors98: #859900;

--solar-orange00: #332521;
--solar-orange24: #913713;
--solar-orange48: #cb4b16;
--solar-orange72: #e06a40;
--solar-orange96: #d28a71;

--solar-red00: #332523;
--solar-red24: #9d2723;
--solar-red48: #dc322f;
--solar-red72: #ee5b51;
--solar-red96: #d4877e;

--solar-green00: #282a1e;
--solar-green24: #617011;
--solar-green48: #859900;
--solar-green72: #91a52e;
--solar-green96: #98a760;

--solar-blue00: #202a33;
--solar-blue24: #1f6597;
--solar-blue48: #268bd2;
--solar-blue72: #449ee3;
--solar-blue96: #69a5d6;

--solar-cyan00: #1c2c2b;
--solar-cyan24: #24766f;
--solar-cyan48: #2aa198;
--solar-cyan72: #3daea4;
--solar-cyan96: #4bb2a9;

--solar-violet00: #262834;
--solar-violet24: #4d518c;
--solar-violet48: #6c71c4;
--solar-violet72: #8289db;
--solar-violet96: #9198da;

}
