:root {
--solar00: #073642;
--solar12: #3e5e67;
--solar24: #586e75;
--solar36: #657b83;
--solar48: #839496;
--solar60: #d6bc84;
--solar72: #e0cc99;
--solar84: #f0e1b2;
--solar96: #fbf1c7;

--solar-yellow00: #484235;
--solar-yellow24: #886817;
--solar-yellow48: #b58900;
--solar-yellow72: #d0a43c;
--solar-yellow96: #daba74;

--solar-orange00: #4d3f3a;
--solar-orange24: #983d1b;
--solar-orange48: #cb4b16;
--solar-orange72: #ea7349;
--solar-orange96: #f4a98f;

--solar-red00: #4e3e3c;
--solar-red24: #a42d29;
--solar-red48: #dc322f;
--solar-red72: #f9655a;
--solar-red96: #f6a69c;

--solar-pink00: #4c3e43;
--solar-pink24: #9d2f62;
--solar-pink48: #d33682;
--solar-pink72: #f065a1;
--solar-pink96: #f0a4c0;

--solar-violet00: #40414e;
--solar-violet24: #525792;
--solar-violet48: #6c71c4;
--solar-violet72: #8b92e6;
--solar-violet96: #b0b8fb;

--solar-blue00: #39444e;
--solar-blue24: #25699c;
--solar-blue48: #268bd2;
--solar-blue72: #51aaf0;
--solar-blue96: #88c5f8;

--solar-cyan00: #354644;
--solar-cyan24: #297973;
--solar-cyan48: #2aa198;
--solar-cyan72: #4fbdb4;
--solar-cyan96: #6dd2c8;

--solar-green00: #414437;
--solar-green24: #657417;
--solar-green48: #859900;
--solar-green72: #a0b541;
--solar-green96: #b7c77f;

}
