@import "palette.css";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&display=swap');

:root
  { --panel: var(--gb72);
    --input: var(--gb72);
  --outline: var(--gb60);
     --page: var(--gb84);
     --text: var(--gb12);
    --muted: var(--gb24);
  --station: var(--gb-yellow00);
 --consumed: var(--gb-orange49);
 --produced: var(--gb-green49); }

:root
  { --panel: var(--solar84);
    --input: var(--solar84);
  --outline: var(--solar60);
     --page: var(--solar72);
     --text: var(--solar00);
    --muted: var(--solar12);
  /* --station: var(--solar24); */
 --consumed: var(--solar-red48);
 --produced: var(--solar-cyan48); }

body
  { font: medium/1.35 'Exo 2', 'IBM Plex Sans', sans-serif;
    background-color: var(--page);
    color:            var(--text);
    margin: 0 }

a, input, button, textarea, select
  { background:  transparent;
    color:       inherit;
    font:        inherit;
    text-align:  inherit;
    text-shadow: inherit }

button, textarea, input, select
  { background-color: var(--input);
    border:           1px solid var(--outline);
    border-radius:    4px; }

input, select
  { padding:    0.3ch 0.4ch;
    box-sizing: content-box; }

button          { cursor: pointer; }
button:disabled { cursor: not-allowed }

ul { margin: 0; padding: 0 }

p,
.process
  { max-width: 50ch;
    margin:    2ch 1ch }

.item span
  { padding:   0.3ch 0.4ch; }
.item .time,
.item .condition,
.item .amount
  { overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap }

.item { display: flex }

.item > *
  { flex: 0 0 min-content }
.item .amount,
.item .time
  { text-align: right; min-width: 6ch; max-width: 6ch }
.item .station,
.item .what
  { flex: 1 1 max-content }

.random + .random-list
  { margin-left: 1ch }
.random .what
  { font-style: italic }

.item
  { background-color: var(--panel);
              border: 0 solid var(--outline);
        border-width: 0 1px 0 1px }
.item:first-of-type
  {    border-top-width: 1px }
.item:last-of-type
  { border-bottom-width: 1px }

/* stations (Deconstructor/Fabricator) row */
.item.stations
{            color: var(--solar96);
           --muted: var(--solar72);
       text-shadow: 1px   1px var(--solar00);
  background-color: var(--solar12);
            border: 1px solid var(--solar00);
        box-shadow: inset  1px  1px var(--solar24),
                    inset -1px -1px var(--solar24) }
  /* background-color: var(--solar-violet24); */
  /*           border: 1px solid var(--solar-violet00); */
  /*       box-shadow: inset  1px  1px var(--solar-violet48), */
  /*                   inset -1px -1px var(--solar-violet48) } */
.item.stations + .item.stations { border-top: 0 }

/* stack decoration under amount text */
.item .decoration
    { --inset:  8px;
      --width: 24px }
.item .decoration
    { box-sizing: border-box;
       min-width: var(--width);
       max-width: var(--width);
     margin-left: var(--inset);
    margin-right: calc(0px - var(--width) - var(--inset)) }
.item .decoration + .amount
  { z-index: 1 }

.item .amount.amount-multiple::after
  { content: '×'; line-height: 0 }

/* stripe repeating */
.item .decoration
  { --pointyness: 4px; --gap: 8px; --from-bottom: 4px;
    --tail-vee:  calc(100% - var(--from-bottom));
    --tail-wing: calc(var(--tail-vee) - var(--pointyness));
    --head-vee:  calc(var(--tail-vee) - var(--gap));
    --head-wing: calc(var(--tail-wing) - var(--gap)) }
/* calc(100% + 1px) helps prevent a funny horizontal line, still shows up a lot on edge */
.item .decoration
  { clip-path: polygon(0               0%,  100%               0,  100% var(--head-wing),   50% var(--head-vee),   0 var(--head-wing),
                       0 var(--tail-wing),   50% var(--tail-vee),  100% var(--tail-wing),  100% calc(100% + 1px),  0 calc(100% + 1px)) }

/* stripe end */
.item.produced:last-of-type .decoration
  { clip-path: polygon(0  0%,  100%   0,  100% var(--head-wing),  50% var(--head-vee),  0 var(--head-wing)) }

/* stripe colors */
.item.consumed .decoration
  { background-color: var(--consumed) }
.item.produced .decoration
  { background-color: var(--produced) }
.item .decoration /* cute or cringe ??? */
  { background-image: linear-gradient(to right, #ffffff00 50%, #ffffff20 50%) }

.item .sprite
           { flex-basis: 48px;
    background-position: center;
        background-size: contain;
      background-repeat: no-repeat }
/* to support not using white-space: nowrap everywhere? */
.item .sprite
  { align-self: center }
code
  { color: var(--muted) }
