@import "palette.css";

@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Questrial&family=IBM+Plex+Mono&display=swap');

:root
  { --panel: var(--solar84);
    --input: var(--solar96);
  --outline: var(--solar60);
   --shadow: var(--solar48);
     --page: var(--solar72);
     --text: var(--solar00);
    --muted: var(--solar24);
 --consumed: var(--solar-red48);
 --produced: var(--solar-cyan48); }

body
  { font: 1rem/1.1 'Exo 2', sans-serif;
    background-color: var(--page);
    color:            var(--text);
    margin: 0 }

footer
  { font-family: 'Questrial', sans-serif;  }

section, aside, footer
  { max-width: 50ch; }

.loading-screen
           { margin: 3ch auto;
          font-size: large;
  font-variant-caps: small-caps;
          max-width: 20ch }

hr { border: 0; height: 0; border-bottom: 1px solid var(--outline); }

p, .entity, .process, .cmd
  { margin: 10px }

a, input, button, select
  { background:  transparent;
    color:       inherit;
    font:        inherit;
    text-align:  inherit;
    text-shadow: inherit }

button, input[type=text], select
  { background-color: var(--input);
    border:           1px solid var(--outline);
    padding:    0.5ch 0.4ch;
    box-sizing: content-box; }

button          { cursor: pointer; }
button:disabled { cursor: not-allowed }

p > button { margin-left: 1ch }

input[inputmode=decimal] { text-align: right }

ul { margin: 0; padding: 0 }


/* positioning */

main > aside
  {
    position: fixed;
    left: 50ch;
    bottom: 0;
    top: 0;
  overflow: scroll; min-height: 100%; max-height: 100%  }


a.wiki-link:not(:hover),
a.identifier:not(:hover)
  { text-decoration: none }


.process .needs-recipe
    { color: var(--muted);
    display: inline-block;
     margin: 0.5ch 1ch;
  font-size: 85% }

.item > span /* vertical padding here coupled with .sprite padding */
  { padding:   0.5ch 0.4ch; }

.item > .time,
.item > .condition,
.item > .skill,
.item > .amount
  { overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap }

.item > .skill
  {     color: var(--muted);
    font-size: 85% }

/* amount what    sprite */
/*   time station sprite */

.item
  { display: flex }

.item > *
  { flex: 0 0 min-content; align-self: baseline }

.item > .decoration
  { align-self: stretch;
    box-sizing: border-box;
       --inset:  8px;
       --width: 24px;
     min-width: var(--width);
     max-width: var(--width);
        margin: 0 var(--inset) }

/* stack decoration under amount text with negative margin */
.process .item > .decoration
  { margin-right: calc(0px - var(--width) - var(--inset)) }

.item > .decoration + *
  { z-index: 1 }

.item > .amount,
.item > .time
  { text-align: right; min-width: 6ch; max-width: 6ch }

.item > .station,
.item > .what
  { flex: 1 1 max-content }

.item > .taglist
  { flex-grow: 1 }

.item > .sprite
         { align-self: center;
           flex-basis: 48px;
  background-position: center;
      background-size: contain;
    background-repeat: no-repeat;
         padding-left: 0;
        padding-right: 0; }


.random + .random-list
  { margin-left: 1ch }
.random .what
  { font-style: italic }


/* colors */

.item
  { background-color: var(--panel);
               color: var(--solar12);
              border: 0 solid var(--outline);
        border-width: 0 1px 0 1px }

.item:first-of-type
  {    border-top-width: 1px }

.item:last-of-type
  { border-bottom-width: 1px }

.item.stations
  {          color: var(--solar96);
           --muted: var(--solar84);
       text-shadow: 1px   1px var(--solar00);
  background-color: var(--solar24);
            border: 1px solid var(--solar12);
        box-shadow: inset  1px  1px var(--solar36),
                    inset -1px -1px var(--solar36) }

.item.stations + .item.stations
  { border-top: 0 }

.item > .amount.amount-multiple::after
  { content: '×'; line-height: 0 }

/* stripe repeating */
.item > .decoration
  { --pointyness: 4px; --gap: 8px; --from-bottom: 4px;
    --tail-vee:  calc(100% - var(--from-bottom));
    --tail-wing: calc(var(--tail-vee) - var(--pointyness));
    --head-vee:  calc(var(--tail-vee) - var(--gap));
    --head-wing: calc(var(--tail-wing) - var(--gap)) }

/* calc(100% + 1px) calc(0% - 1px) helps prevent a funny horizontal gap/line
 * between decorations, still shows up a lot on edge */
.item > .decoration
  { clip-path: polygon(0   calc(0% - 1px),  100%  calc(0% - 1px),  100% var(--head-wing),   50% var(--head-vee),   0 var(--head-wing),
                       0 var(--tail-wing),   50% var(--tail-vee),  100% var(--tail-wing),  100% calc(100% + 1px),  0 calc(100% + 1px)) }

/* stripe end */
.item.produced:last-of-type .decoration
  { clip-path: polygon(0  calc(0% - 1px),  100%   calc(0% - 1px),  100% var(--head-wing),  50% var(--head-vee),  0 var(--head-wing)) }


.item > .decoration
  { background-color: var(--solar60) }

.item.consumed > .decoration
  { background-color: var(--consumed) }

.item.produced > .decoration
  { background-color: var(--produced) }

.item > .decoration /* cute or cringe ??? */
  { background-image: linear-gradient(to right, #ffffff00, #ffffff20 50%, #ffffff00 50%) }


.identifier
  { color: var(--muted);
     font: 75% 'IBM Plex Mono', monospace }
.identifier::before { content: '{' }
.identifier::after  { content: '}' }


.cmd
  { position: sticky;
      bottom: 1ch;
     z-index: 1;
    grid-gap: 1ch;
     display: flex;
   max-width: 100%;
   flex-wrap: wrap; }

.cmd > *
  { --outline: var(--shadow);
   box-shadow: 3px 3px var(--shadow); }
